main.app {
    border: 0.05em solid black;
    outline-style: double;
    outline-offset: 0.5em;
    outline-color: lavender;
    border-radius: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: transparent;
    background-position: center;
    margin: 5% 15%;
    padding: 5%;

    section.header {
        header {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;

            h1 {
                font-size: xx-large;
                width: 100%;
                border: solid black;
                padding-bottom: 0.1em;
                border-width: 0 0  0.01em 0;
                margin: 0;
            }
            
            span {
                font-size: large;
                width: 100%;
                text-align: center;
                align-self: center;
            }
        }
    }

    section.board {    
        table {
            td {
                button {
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    font-weight: 400;
                    border-radius: 10%;
                }
            }
        }
    }

    section.dashboard {    
        form {
            span {
                display: flex;
                justify-content: space-between;
                padding: 2% 0;
                height: 3em;

                button {
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    align-self: center;
                    font-weight: 400;
                }

                label {
                    margin: 0;
                    width: 4rem;
                    font-size: 4em;
                    text-align: center;
                    align-self: center;
                }
            }
        }
    }
}